* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 10px;
  padding: 0px;
}

paper-button {
  display: block;
  margin: 30px auto 30px auto;
  width: 100px;
  font-size: 16px;
  color: #4285f4;
}
