* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  padding: 0;
}

div.container-fluid {
  padding: 0;
}

.header {
  margin-top: 50px;
}

.icon {
  text-align: right;
}

.main {
  text-align: center;
  margin-top: 30px;
}

.link {
  text-align: right;
  position: absolute;
  bottom: 60px;
  right: 10px;
}

.footer {
  width: 100%;
  background-color: #2298f2;
  height: 50px;
  bottom: 0;
  position: absolute;
}

.footer div {
  color: white;
  font-size: 32px;
  margin-top: 5px;
  margin-left: 10px;
  cursor: pointer;
}

img.season {
  position: absolute;
}
